################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Teaser/TeaserDSV/obj
/Teaser/DisplayForm/obj
/Teaser/DisplayForm/bin/Release
/Teaser/DisplayForm/bin/Debug
